.container {
  display: flex;
  flex-direction: column;
  background: var(--background-primary);
  color: var(--text-primary);
  min-height: 100vh;
  margin: 0 8rem;
  border-radius: 0.5rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

.contentWrapper {
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: var(--text-primary);
  display: flex;
  justify-content: center;
}

.subtitle {
  display: flex;
  justify-content: center;
  color: var(--text-secondary);
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .container {
    margin: 1rem 0;
    font-size: var(--fs-300);
  }

  .contentWrapper {
    flex-direction: column;
    padding: 1rem;
  }
}

@media (min-width: 769px) {
  .container {
    margin: 0 4rem;
  }
}
