.container {
  display: flex;
  flex-direction: column;
  background: white;
  min-height: 100vh;
  margin: 0 8rem;
  border-radius: 0.5rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.headshot {
  border-radius: 50%;
  box-shadow: 0 0 16px 0px var(--gradientThree), 0 0 14px 0px var(--gradientOne);
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1.5rem;
}

.title {
  font-size: 1.125rem;
  font-weight: bold;
}

.paragraph {
  display: flex;
  padding: 1rem 0;
}

.divider {
  border: none;
  border-top: 1px solid var(--clr-neutral-200);
  margin: 2rem auto;
  width: 8rem;
}

.listContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 600px;
  text-align: left;
  margin: 0.5rem 0;
  list-style-type: inside;
}

.listTitle {
  justify-content: center;
  align-items: center;
}

.listItem {
  margin: 0.5rem 0;
  width: 100%;
  text-align: left;
}

.signature {
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem 0;
}

/* smaller screens */
@media (max-width: 768px) {
  .container {
    margin: 1rem 0;
    font-size: var(--fs-300);
  }

  .contentWrapper {
    flex-direction: column;
    margin: 0 0.25rem;
    text-align: left;
  }

  .signature {
    margin-right: 1rem;
  }
}
/* larger screens */
@media (min-width: 769px) {
  .container {
    margin: 0 4rem;
  }
}
