.container {
  display: flex;
  flex-direction: column;
  background: white;
  height: 100vh;
  margin: 8rem 2rem;
  border-radius: 0.5rem;
  padding: 2rem;
}

.imageContainer {
  display: flex;
  content-center: center;
  justify-content: center;
}

.headshot {
  border-radius: 50%;
  box-shadow: 0 0 16 0 var(--gradientThree);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1.5rem;
}

.title {
  font-size: 1.125rem;
  font-weight: bold;
}

.paragraph {
  display: flex;
  padding: 1rem 0;
}

.divider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 8rem;
  padding: 1.5rem;
}

.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1.5rem;
}

.listItem {
  margin-left: 2rem;
}

.signature {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}
