.main {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.gradientContainer {
  position: relative;
  width: 100%;
  margin-top: -4rem;
  padding-top: 4rem;
  overflow: visible;
  z-index: 0;
}

.gradientBackground {
  position: absolute;
  top: -6rem;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--gradient-height);
  background: linear-gradient(
    45deg,
    var(--gradientOne),
    var(--gradientTwo),
    var(--gradientThree)
  );
  background-size: 400% 400%;
  background-repeat: no-repeat;
  z-index: -1;
  transform: translateZ(0);
  animation: bg-animation var(--gradientTiming) infinite alternate;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  pointer-events: none;
}

@media (min-width: 768px) {
  .gradientBackground {
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  background: var(--background-primary);
  color: var(--text-primary);
  min-height: calc(60vh + 3rem);
  margin: 0 8rem;
  border-radius: 0.5rem;
  padding: 2rem;
}

.contentWrapper {
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  margin-top: 3rem;
}

.text {
  font-size: var(--fs-600);
}

.emailText {
  display: inline-flex;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  cursor: pointer;
  color: white;
  border-radius: var(--border-radius);
  background: linear-gradient(
    45deg,
    var(--gradient-one),
    var(--gradient-two),
    var(--gradient-three)
  );
  background-size: 200% 200%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.emailText:hover {
  background-size: 150% 150%;
  text-decoration: underline;
}

/* Dark mode support */
:root.dark-mode .emailText {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Mobile screen */
@media (max-width: 768px) {
  .container {
    margin: 1rem 0;
    font-size: var(--fs-300);
  }

  .contentWrapper {
    flex-direction: column;
    padding: 1rem;
  }

  .text {
    font-size: var(--fs-400);
  }
}

/* Tablet and larger */
@media (min-width: 769px) {
  .container {
    margin: 0 4rem;
  }
}

.notification {
  font-size: var(--fs-600);
  color: var(--theme-color);
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-top: 1rem;
  user-select: none;
}

.notification.visible {
  opacity: 1;
}

.italicText {
  display: flex;
  justify-content: center;
  padding: 0.75rem 0;
  font-style: italic;
  user-select: none;
}
