.container {
  display: flex;
  flex-direction: column;
  background: var(--background-primary);
  color: var(--text-primary);
  min-height: 100vh;
  border-radius: var(--border-radius);
  opacity: 1;
  margin-bottom: 2rem;
}

/* Add dark mode styles for container */
[data-theme="dark"] .container {
  background: var(--background-primary);
  color: var(--text-primary);
}

/* Update overview text color for dark mode */
[data-theme="dark"] .overviewText {
  color: var(--text-primary);
}

[data-theme="dark"] .overviewTitle,
[data-theme="dark"] .experienceTitle {
  color: var(--text-primary);
}

.contentWrapper {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.overviewSection {
  flex: 1;
  margin: 0;
}

.overviewTitle {
  font-size: 1.25rem;
  margin: 1rem 0;
  font-weight: var(--fw-bold);
}

.overviewText {
  margin-bottom: 1rem;
}

.recentSection {
  flex: 1;
  padding: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  background: var(--background-secondary);
  color: var(--text-primary);
  margin: 0;
}

/* Update recent section dark modestyles */
[data-theme="dark"] .recentSection {
  background: var(--clr-neutral-600);
  color: var(--white);
}

[data-theme="dark"] .recentItem {
  color: var(--white);
}

.recentTitle {
  padding: 0.75rem 0;
  margin-bottom: 1rem;
  font-weight: var(--fw-bold);
}

.recentItem {
  padding: 0.75rem 0;
}

.link {
  color: var(--theme-color);
  text-decoration: none;
}

.experienceSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experienceTitle {
  display: flex;
  justify-content: flex-start;
  font-size: 1.25rem;
  font-weight: var(--fw-bold);
}

.experienceItem {
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem;
}

/* smaller screens */
@media (max-width: 768px) {
  .container {
    margin: 0 1rem;
    font-size: var(--fs-300);
  }

  .contentWrapper {
    flex-direction: column;
  }
}
/* larger screens */
@media (min-width: 769px) {
  .container {
    margin: 0 4rem;
  }

  .overviewAndRecent {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .content > div:first-child {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
  }

  .overviewSection {
    flex: 2;
  }

  [data-theme="dark"] .recentSection {
    background-color: var(--clr-neutral-600);
  }

  .recentSection {
    margin-top: 2rem;
    flex: 1;
    height: fit-content; /* Only as tall as its content */
    max-height: 100%; /* Won't exceed container height */
    align-self: flex-start; /* Aligns to top of container */
  }
}

[data-theme="dark"] .recentSection {
  background-color: var(--clr-neutral-600);
}

.recentSection {
  background: var(--background-secondary);
  color: var(--text-primary);
}

.overviewText,
.experienceTitle,
.overviewTitle {
  color: var(--text-primary);
}
