.footer {
  display: flex;
  margin-top: auto;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-around;
  min-height: auto;
  width: 100%;
  padding: 1rem;
}

.liveFeed {
  display: flex;
  flex-direction: column;
}

.liveFeedHeader {
  display: flex;
  flex-direction: column;
  padding: 0 0 1rem 0;
  color: var(--text-primary);
}

.liveFeedList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.liveFeedItem {
  display: flex;
  text-decoration: none;
  align-items: center;
  padding: 0 0.5rem;
  transition: opacity 0.2s ease;
}

.liveFeedItem:hover {
  opacity: 0.8;
}

.liveFeedText {
  color: var(--clr-neutral-900);
  margin-left: 0.5rem;
}

.feedIcon {
  min-width: 30px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.stravaLink {
  cursor: pointer;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--theme-color);
}

.stravaIcon,
.goodreadsIcon {
  min-width: 30px;
  min-height: 30px;
  flex-shrink: 0;
  fill: var(--clr-neutral-900);
}

.liveFeedItem:hover .stravaIcon {
  fill: var(--stravaColor);
}

.liveFeedItem:hover .goodreadsIcon {
  fill: var(--goodreadsColor);
}

.liveFeedItem:hover .liveFeedText .stravaIcon {
  text-decoration: underline;
}

.loadingText {
  color: var(--clr-neutral-200);
}

.loadingText {
  color: var(--clr-neutral-200);
  font-style: italic;
  opacity: 0.7;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.4;
  }
}

.socialsAndCopywrite {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.socials {
  display: flex;
  margin: 0 1rem;
  justify-content: center;
  gap: 1rem;
}

.socialLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.socialIcon {
  font-size: 2.75rem;
  fill: var(--clr-neutral-900);
  padding: 0 0.5rem;
}

.socialLink:hover .socialIcon {
  fill: var(--clr-neutral-250);
}

.socialLink:hover .linkedInIcon {
  fill: var(--linkedInColor);
}

.socialLink:hover .emailIcon {
  fill: var(--theme-color);
}

.copywrite {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.techLink {
  display: flex;
  align-items: center;
  transition: opacity 0.2s ease;
  line-height: 1.5;
}

.techLink:hover {
  opacity: 0.8;
}

.nextVercelIcon {
  height: auto;
  width: 4rem;
}

.nextVercelIcon:hover {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 2rem;
  }

  .copywrite {
    font-size: var(--fs-300);
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0.5rem;
  }

  .nextVercelIcon {
    height: 2rem;
  }
}
