.content {
  flex: 1 0 auto;
}

.hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.social_link {
}

.linkedinIcon:hover {
  fill: #575757;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.live-feed-header {
  padding-bottom: 50px;
}

.social_and_byline {
}
