.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.25rem;
  color: white;
  min-height: 4rem;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

.headerRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
}

.nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 2rem;
}
.navLink {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

.navLink:hover {
  text-decoration: underline;
  transition-duration: 500ms;
}

/* Icon style */
.homeIcon,
.barsIcon,
.gearIcon {
  height: 2rem;
  width: 2rem;
  fill: hsl(0, 0%, 100%);
}

.gearIcon:hover,
.homeIcon:hover,
.barsIcon:hover,
.headerLeft:hover {
  fill: var(--clr-neutral-200);
}

.mobileNavToggle {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
}

.gradientHeader {
  background: linear-gradient(
    45deg,
    var(--gradientOne),
    var(--gradientTwo),
    var(--gradientThree)
  );
}

.prefsMenu {
  width: 4em;
  display: flex;
  /* TODO Add styles for preferences menu */
}

/* Desktop Styles */
@media (min-width: 769px) {
  .nav {
    flex: 1;
  }
  .header {
    flex-wrap: nowrap;
  }

  .headerLeft {
    flex: 1;
  }

  .headerCenter {
    background-color: red;
    width: 6rem;
  }

  .headerRight {
    flex: 1;
    justify-content: flex-end;
    width: auto;
    order: 2;
  }

  .gearContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}

/* Mobile Styles */
@media (max-width: 425px) {
  .nav {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .nav {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
  }
}
