.jobContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  background: var(--clr-neutral-100);
  border-radius: var(--border-radius);
  margin: 1rem;
}

.jobImage {
  grid-row: span 2;
  display: flex;
  align-items: flex-start;
}

.companyLogo {
  border-radius: var(--border-radius);
  object-fit: contain;
  width: 100%;
  height: auto;
  margin: 0.5rem 2rem 0 1rem;
}

.jobTitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.jobTitleAndCompany {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.jobTitleAndCompany h3 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: var(--fw-semi-bold);
  color: var(--clr-neutral-900);
}

.jobTitleAndCompany a {
  color: var(--clr-primary-500);
  text-decoration: none;
}

.jobTitleAndCompany a.companyLink {
  color: var(--theme-color) !important; /* Force theme color */
  text-decoration: none;
  font-size: 1.2rem;
}

.jobTitleAndCompany a.companyLink:hover {
  text-decoration: underline;
}

.jobTimeframe {
  color: var(--clr-neutral-350);
  font-size: 1rem;
}

.jobDetails ul {
  list-style-type: disc;
  margin: 0;
  padding-left: 1.25rem;
}

.jobDetails li {
  color: var(--clr-neutral-700);
  margin-bottom: 1.75rem;
}

.jobListItem {
  color: var(--clr-neutral-700);
}

/* Remove margin from last list item */
.jobListItem:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .jobContainer {
    grid-template-columns: 1fr;
  }

  .jobTitle {
    flex-direction: column;
  }

  .companyLogo {
    display: flex;
    justify-content: center;
    margin: 0;
    height: 3rem;
  }
}
