.heroContainer {
  position: relative;
  width: 100%;
  min-height: 70vh;
  margin-top: -4rem;
  padding-top: 4rem;
  overflow: visible;
  z-index: 0;
}

.heroGradient {
  position: absolute;
  top: -4rem;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    var(--gradientOne),
    var(--gradientTwo),
    var(--gradientThree)
  );
  background-size: 400% 400%;
  z-index: -1;
  animation: bg-animation var(--gradientTiming) infinite alternate;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  pointer-events: none;
}

/* Mobile S */
@media (max-width: 320px) {
  .heroContainer {
    min-height: auto;
    position: relative;
  }

  .heroGradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .main {
    position: relative;
    z-index: 1;
    padding-bottom: 0;
  }

  .homeImage {
    margin-bottom: 0;
  }
}

/* Mobile M */
@media (min-width: 321px) and (max-width: 375px) {
  .heroContainer {
    min-height: auto;
    position: relative;
  }

  .heroGradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .main {
    position: relative;
    z-index: 1;
    padding-bottom: 0;
  }

  .homeImage {
    margin-bottom: 0;
  }
}

/* Mobile L */
@media (min-width: 376px) and (max-width: 425px) {
  .heroContainer {
    min-height: auto;
    position: relative;
  }

  .heroGradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .main {
    position: relative;
    z-index: 1;
    padding-bottom: 0;
  }

  .homeImage {
    margin-bottom: 0;
  }
}

/* Tablet and above */
@media (min-width: 768px) {
  .heroGradient {
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 70vh;
  padding-top: 1rem;
  overflow: visible;
  z-index: 2;
}

.heroSection {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0 1rem;
}

.homeImage {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting {
  padding: 1.5rem 0;
  font-size: 1.5rem;
  line-height: 2rem;
  color: white;
}

.title {
  padding: 1.5rem 0;
  font-size: 3rem;
  line-height: 1;
  flex-wrap: wrap;
  color: white;
}

.titleText {
  margin-bottom: 0.5rem;
}

.subtitle {
  color: white;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.archBlur {
  width: 100%;
  max-width: 1440px;
  height: 488px;
  border-radius: 100% 100% 3px 3px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  z-index: 0;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  margin: 0 auto;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

@media (min-width: 320px) {
  .greeting {
    padding-top: 1.5rem;
    font-size: 1rem;
  }

  .title {
    padding: 1.5rem 0;
    font-size: 1.5rem;
    line-height: 1;
  }

  .subtitle {
    color: white;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

/* Tablet and larger*/
@media (min-width: 768px) {
  .main {
    flex-direction: row;
  }

  .archBlur {
    margin: 1rem 0;
  }

  .content {
    padding: 4rem;
  }

  .homeImage {
    max-width: 450px;
  }
}

/* Desktop and larger */
@media (min-width: 1024px) {
  .greeting {
    font-size: 1.5rem;
  }

  .title {
    padding: 1.5rem 0;
    font-size: 3rem;
    line-height: 1;
  }

  .subtitle {
    font-size: 1.25rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .primaryNav {
    font-size: 2.5rem;
  }

  .homeImage {
    max-width: 600px;
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}
